@model FacebookFanpageApp.Models.FacebookModel
@{
    ViewBag.Title = "ContinueConnected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fb-root"></div>
<h3>ContinueConnected</h3>
<div>
    <p>Inhalt... JS SDK braucht bereits Third party cookies.</p>
    <p>@Model.Me.Name</p>
    <p>@Model.Me.FirstName</p>
    <p>@Model.Me.LastName</p>
    <p>@Model.Me.Email</p>
</div>
