@model FacebookFanpageApp.Models.FacebookModel
@{
    ViewBag.Title = "NoSignedRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nicht auf Facebook</h2>
<a href="@Model.FanPageUrl">zur Facebook-Seite</a>