@model FacebookFanpageApp.Models.FacebookModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoSignedRequest</title>
    <script type="text/javascript">
        top.location.href = "@Model.FanPageUrl";
    </script>
</head>
<body>
</body>
</html>
