@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetSession</title>
    <script type="text/javascript">
       location.href = "@Url.Action("Firstpage")";
    </script>
</head>
<body>
</body>
</html>
